// VARIABLES COLORS

$yellow : #FFE600;
$black: #333333;
$graniteGray : #666666;
$gray: #999999;
$white: #EEEEEE;
$white2: #FFFFFF;
$bleuDeFrance: #3483FA;


// CONTAINER SIZE
$cSize: 945px;

// SIZES FONTS

$f12: 12px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f24: 24px;
$f28: 28px;
$f46: 46px;


// SPACES SIZE

$s16: 16px;
$s32: 32px;


// SIZES

$w4: 4px;
$w18: 180px;
$w68: 680px;



